<script>
  MathJax = {
    tex: {
      inlineMath: [['', ''], ['\\(', '\\)'],['$`','`$'],['$','$']],
      displayMath: [['\[', '\]'], ['\\[', '\\]'],['$$','$$']],
      processEscapes: true
    },
    options: {
      ignoreHtmlClass: 'tex2jax_ignore',
      processHtmlClass: 'tex2jax_process'
    },
    startup: {
        pageReady: () => {
          // 1. ページ読み込み時の初回変換
          return MathJax.startup.defaultPageReady().then(() => {
            // 2. NIST EDA等の動的変化に対応するため、1秒後と3秒後にも強制再変換をかける
            setTimeout(() => { MathJax.typeset(); }, 1000);
            setTimeout(() => { MathJax.typeset(); }, 3000);
          });
        }
      }
    };
  </script>
 