---
---

@import "{{ site.theme }}";

.no-border-table { 
  margin-left: auto;
  margin-right: auto;
}

.no-border-table th, 
.no-border-table td {
  border: none;
}

.formula-list {
  margin-left: 1.5rem; 
  line-height: 1.6; 
}
